.ocpc_post_layout {
    width: 100%;
    display: inline-block;
    float: left;
}
.ocpc_post_layout .ocpc_post_main_class {
    width: 100%;
    display: inline-block;
    float: left;
}
.ocpc_post_layout .ocpc-slider-title {
    margin-bottom: 10px;
}
.ocpc_post_layout button:focus {
    outline: 0;
}
.ocpc_post_layout h1.ocpc-title:not(.site-title):before {
    background: unset;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    width: 0;
}
.ocpc_post_layout #ocpc-postlink {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    float: left;
    display: inline-block;
}
.ocpc_post_layout .owl-theme .owl-nav [class*=owl-]:hover {
    background: #00000091!important;
    color: #FFF;
    text-decoration: none;
}
.ocpc_post_layout .owl-theme .owl-prev:hover:after {
    color: #FFF;
}
.ocpc_post_layout .owl-theme .owl-next:hover:after {
    color: #FFF;
}
.ocpc_post_layout button.owl-prev span,
.ocpc_post_layout button.owl-next span {
    font-size: 26px;
    background-color: rgba(0,0,0,0.6);
    padding: 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: white;
    display: block;
    line-height: 26px;
}
.ocpc_post_layout .ocpc-content p {
    margin: 0;
}
.ocpc_post_layout .owl-carousel.owl-theme {
    margin: 0;
}
.ocpc_post_layout .ocpc-topbox {
    display: inline-block;
    float: left;
    width: 100%;
}
.ocpc_post_layout .ocpcmain_class {
	width: 100%;
	display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}
.ocpc_post_layout img {
    width: 100%;
    border-radius: 0px;
    height: auto;
    margin-bottom: 0px!important;
}
.ocpc_post_layout .ocpc-title,
.ocpc_tmplt6_glry_cont_title,
.ocpc_tmplt7_glry_cont_title,
.ocpc_tmplt8_glry_cont_title,
.ocpc_tmplt9_glry_cont_title,
.ocpc_tmplt10_glry_cont_title,
.ocpc_tmplt11_glry_cont_title,
.ocpc_tmplt12_glry_cont_title,
.ocpc_tmplt13_glry_cont_title,
.ocpc_tmplt14_glry_cont_title,
.ocpc_tmplt15_glry_cont_title,
.ocpc_tmplt16_glry_cont_title,
.ocpc_tmplt17_glry_cont_title,
.ocpc_tmplt18_glry_cont_title,
.ocpc_tmplt19_glry_cont_title,
.ocpc_tmplt20_glry_cont_title,
.ocpc_tmplt21_glry_cont_title,
.ocpc_tmplt22_glry_cont_title,
.ocpc_tmplt23_glry_cont_title,
.ocpc_tmplt24_glry_cont_title,
.ocpc_tmplt25_glry_cont_title,
.ocpc_tmplt26_glry_cont_title,
.ocpc_tmplt27_glry_cont_title,
.ocpc_tmplt28_glry_cont_title,
.ocpc_tmplt29_glry_cont_title,
.ocpc_tmplt30_glry_cont_title,
.ocpc_tmplt31_glry_cont_title,
.ocpc_tmplt32_glry_cont_title,
.ocpc_tmplt33_glry_cont_title,
.ocpc_tmplt6_crsol_cont_title,
.ocpc_tmplt7_crsol_cont_title,
.ocpc_tmplt8_crsol_cont_title,
.ocpc_tmplt9_crsol_cont_title,
.ocpc_tmplt10_crsol_cont_title,
.ocpc_tmplt11_crsol_cont_title,
.ocpc_tmplt12_crsol_cont_title,
.ocpc_tmplt13_crsol_cont_title,
.ocpc_tmplt14_crsol_cont_title,
.ocpc_tmplt15_crsol_cont_title,
.ocpc_tmplt16_crsol_cont_title,
.ocpc_tmplt17_crsol_cont_title,
.ocpc_tmplt18_crsol_cont_title,
.ocpc_tmplt19_crsol_cont_title,
.ocpc_tmplt20_crsol_cont_title,
.ocpc_tmplt21_crsol_cont_title,
.ocpc_tmplt22_crsol_cont_title,
.ocpc_tmplt23_crsol_cont_title,
.ocpc_tmplt24_crsol_cont_title,
.ocpc_tmplt25_crsol_cont_title,
.ocpc_tmplt26_crsol_cont_title,
.ocpc_tmplt27_crsol_cont_title,
.ocpc_tmplt28_crsol_cont_title,
.ocpc_tmplt29_crsol_cont_title,
.ocpc_tmplt30_crsol_cont_title,
.ocpc_tmplt31_crsol_cont_title,
.ocpc_tmplt32_crsol_cont_title,
.ocpc_tmplt33_crsol_cont_title,
.ocpc_tmplt6_msnry_cont_title,
.ocpc_tmplt7_msnry_cont_title,
.ocpc_tmplt8_msnry_cont_title,
.ocpc_tmplt9_msnry_cont_title,
.ocpc_tmplt10_msnry_cont_title,
.ocpc_tmplt11_msnry_cont_title,
.ocpc_tmplt12_msnry_cont_title,
.ocpc_tmplt13_msnry_cont_title,
.ocpc_tmplt14_msnry_cont_title,
.ocpc_tmplt15_msnry_cont_title,
.ocpc_tmplt16_msnry_cont_title,
.ocpc_tmplt17_msnry_cont_title,
.ocpc_tmplt18_msnry_cont_title,
.ocpc_tmplt19_msnry_cont_title,
.ocpc_tmplt20_msnry_cont_title,
.ocpc_tmplt21_msnry_cont_title,
.ocpc_tmplt22_msnry_cont_title,
.ocpc_tmplt23_msnry_cont_title,
.ocpc_tmplt24_msnry_cont_title,
.ocpc_tmplt25_msnry_cont_title,
.ocpc_tmplt26_msnry_cont_title,
.ocpc_tmplt27_msnry_cont_title,
.ocpc_tmplt28_msnry_cont_title,
.ocpc_tmplt29_msnry_cont_title,
.ocpc_tmplt30_msnry_cont_title,
.ocpc_tmplt31_msnry_cont_title,
.ocpc_tmplt32_msnry_cont_title,
.ocpc_tmplt33_msnry_cont_title
{
    margin: 12px 0 10px;
}

/*----------------------------------------------template1---------------------------------------------*/
.ocpc_post_layout.ocpc-template-1 .ocpc_discripton_class {
    padding: 10px;
    box-shadow: 0 0 10px 0 #d2d2d2;
    width: 100%;
    display:inline-block;
}
.ocpc_post_layout.ocpc-template-1 .ocpc_image_class {
    position: relative;
    overflow: hidden;
}
.ocpc_post_layout.ocpc-template-1 .ocpc_image_class:hover img {
    -webkit-transform: scale3d(1.05,1.05,1);
    -moz-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
    transition: transform .3s ease-in-out;
}
/*----------------------------------------------end template1---------------------------------------------*/


/*----------------------------------------------template2-------------------------------------------------*/
.ocpc_post_layout.ocpc-template-2 .ocpc_image_class {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    float: left;
    padding-top: 80%;
    position: relative;
}
.ocpc_post_layout.ocpc-template-2 .ocpc_image_class img {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    transition: transform 0.3s ease, filter 0.3s;
    transform: scale(1) translate(-50%, -50%);
    left: 50%;
    transform-origin: 0 0;
    backface-visibility: hidden;
    min-width: 80%;
    max-width: inherit !important;
}
.ocpc_post_layout.ocpc-template-2 .ocpc-topbox:hover .ocpc_image_class img {
    transform: scale(1.1) translate(-50%, -50%);
    transform-origin: 0 0;
    filter: grayscale(1);
    border-radius: 10px;
}
.ocpc_post_layout.ocpc-template-2 .ocpcmain_image_class {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.ocpc_post_layout.ocpc-template-2 .ocpc_discripton_class {
    position: absolute;
    z-index: 2;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.ocpc_post_layout.ocpc-template-2 .ocpc-topbox:hover .ocpc_discripton_class {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding-top: 0;
}
.ocpc_post_layout.ocpc-template-2 .ocpc_inner_discripton_class {
    width: 80%;
    margin: 0 auto;
    transform: translateY(30%);
    transition: 0.3s all ease;
}
.ocpc_post_layout.ocpc-template-2 .ocpc-topbox:hover .ocpc_inner_discripton_class {
    transform: translateY(0);
}


/*slider*/
.ocpc_post_layout.ocpc-template-2.carousel .ocpc-topbox {
    width: 100%;
}
/*----------------------------------------------end template2---------------------------------------------*/


/*----------------------------------------------template3-------------------------------------------------*/
.ocpc_post_layout.ocpc-template-3 .ocpc_image_class {
    position: relative;
    /*overflow: hidden;*/
}
.ocpc_post_layout.ocpc-template-3 .ocpc_image_class:hover img {
    -webkit-transform: scale3d(1.05,1.05,1);
    -moz-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
    transition: transform .3s ease-in-out;
    filter: grayscale(1);
}
/*----------------------------------------------end template3---------------------------------------------*/

/*----------------------------------------------template4-------------------------------------------------*/
.ocpc_post_layout.ocpc-template-4 img {
    height: auto;
    width: 100%;
}
.ocpc_post_layout.ocpc-template-4 .ocpc_discripton_class {
    position: absolute;
    left: 0px;
    bottom: -95px;
    right: 0px;
    padding: 10px;
    z-index: 9;
    transition: all .3s ease-in-out;
    color: #fff;
    min-height: 160px;
}
.ocpc_post_layout.ocpc-template-4 .ocpc_inner_discripton_class {
    padding: 5px;
    border: 1px solid #b1b1b1;
}
.ocpcmain_class:hover .ocpc_discripton_class {
    bottom: 0px;
    transition: all .3s ease-in-out;
}
/*----------------------------------------------end template4---------------------------------------------*/



/*----------------------------------------------template5-------------------------------------------------*/
.ocpc_post_layout.ocpc-template-5 .ocpc_discripton_class {
    position: relative;
    margin: -40px 20px 20px 20px;
    padding: 15px 15px 10px 15px;
    box-shadow: 0px 5px 6px -6px #00000073;
    min-height: 150px;
}
.ocpc_post_layout.ocpc-template-5.masonry .ocpc_discripton_class {
    min-height: inherit;
}
.ocpc_post_layout.ocpc-template-5 .ocpc_image_class {
    position: relative;
    overflow: hidden;
}
.ocpc_post_layout.ocpc-template-5 .ocpc_image_class:hover img {
    -webkit-transform: scale3d(1.05,1.05,1);
    -moz-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
    transition: transform .3s ease-in-out;
    filter: grayscale(1);
}
/*----------------------------------------------end template5-------------------------------------------------*/


/*----------------------------------------------masonry grid----------------------------------------------*/
/*template 1*/
.ocpc_insta_masonry_grid img {
    height: inherit;
    width: 100%;
    margin-bottom: 0px !important;
}
.ocpc_post_layout.ocpc-template-1 .ocpc_insta_masonry_grid .ocpc_discripton_class {
    border: 1px solid #d2d2d2;
}

.ocpc_post_layout.ocpc-template-2 .ocpc_insta_masonry_grid .ocpc_image_class {
    padding-top: 0px;
    border-radius: 0px;
}
.ocpc_post_layout.ocpc-template-2 .ocpc_insta_masonry_grid .ocpcmain_image_class {
    border-radius: 0;
}
.ocpc_post_layout.ocpc-template-2 .ocpc_insta_masonry_grid .ocpc_image_class img {
    position: inherit;
    transform: inherit;
    border-radius: 0px;
}
.ocpc_post_layout.ocpc-template-2 .ocpc_insta_masonry_grid .ocpc-topbox:hover .ocpc_image_class img {
    transform: inherit;
    filter: grayscale(1);
     border-radius: 0px;
}
.ocpc_post_layout.ocpc-template-4 .ocpc_insta_masonry_grid img {
    height: inherit;
    width: 100%;
    margin-bottom: 0px !important;
}
/*----------------------------------------------end masonry grid----------------------------------------------*/

.ocpost_page.pagination {
    width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 50px;
}
.ocpost_page.pagination a.page-numbers {
    text-decoration: none!important;
    padding: 0;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ocpost_page.pagination a.page-numbers.prev,
.ocpost_page.pagination a.page-numbers.next {
    width: 80px;
}
.ocpost_page.pagination .page-numbers.dots {
    background-color: transparent;
}
.ocpost_page.pagination a.page-numbers:hover {
    background: #333 !important;
    color: #FFF;
}
.ocpost_page.pagination .current {
    background-color: #FFF;
    color: #333;
    text-decoration: none!important;
    padding: 0;
    line-height: 35px;
    height: 35px;
    width: 35px;
    font-weight: bold;
}
.ocpc_nav_slide_prev svg, .ocpc_nav_slide_next svg {
    width: 100%;
    height: auto;
}
.owl-prev:hover svg polygon, .owl-next:hover svg polygon {
    fill: #fff;
}
.oc_post_layout .owl-dots {
    position: inherit;
    bottom: inherit;
    left: inherit;
    z-index: 99999999;
    display: block;
}
.ocpc-categories span {
    display: inline-flex;
    align-items: center;
}
.ocpc-categories svg {
    height: auto;
    margin-right: 7px;
    vertical-align: text-top;
}

/*new templates after template no.5 css starts*/
.ocpc_tmplt6_glry_cont_cats span,
.ocpc_tmplt7_glry_cont_cats span,
.ocpc_tmplt8_glry_cont_cats span,
.ocpc_tmplt9_glry_cont_cats span,
.ocpc_tmplt10_glry_cont_cats span,
.ocpc_tmplt11_glry_cont_cats span,
.ocpc_tmplt12_glry_cont_cats span,
.ocpc_tmplt13_glry_cont_cats span,
.ocpc_tmplt14_glry_cont_cats span,
.ocpc_tmplt15_glry_cont_cats span,
.ocpc_tmplt16_glry_cont_cats span,
.ocpc_tmplt17_glry_cont_cats span,
.ocpc_tmplt18_glry_cont_cats span,
.ocpc_tmplt19_glry_cont_cats span,
.ocpc_tmplt20_glry_cont_cats span,
.ocpc_tmplt21_glry_cont_cats span,
.ocpc_tmplt22_glry_cont_cats span,
.ocpc_tmplt23_glry_cont_cats span,
.ocpc_tmplt24_glry_cont_cats span,
.ocpc_tmplt25_glry_cont_cats span,
.ocpc_tmplt26_glry_cont_cats span,
.ocpc_tmplt27_glry_cont_cats span,
.ocpc_tmplt28_glry_cont_cats span,
.ocpc_tmplt29_glry_cont_cats span,
.ocpc_tmplt30_glry_cont_cats span,
.ocpc_tmplt31_glry_cont_cats span,
.ocpc_tmplt32_glry_cont_cats span,
.ocpc_tmplt6_crsol_cont_cats span,
.ocpc_tmplt7_crsol_cont_cats span,
.ocpc_tmplt8_crsol_cont_cats span,
.ocpc_tmplt9_crsol_cont_cats span,
.ocpc_tmplt10_crsol_cont_cats span,
.ocpc_tmplt11_crsol_cont_cats span,
.ocpc_tmplt12_crsol_cont_cats span,
.ocpc_tmplt13_crsol_cont_cats span,
.ocpc_tmplt14_crsol_cont_cats span,
.ocpc_tmplt15_crsol_cont_cats span,
.ocpc_tmplt16_crsol_cont_cats span,
.ocpc_tmplt17_crsol_cont_cats span,
.ocpc_tmplt18_crsol_cont_cats span,
.ocpc_tmplt19_crsol_cont_cats span,
.ocpc_tmplt20_crsol_cont_cats span,
.ocpc_tmplt21_crsol_cont_cats span,
.ocpc_tmplt22_crsol_cont_cats span,
.ocpc_tmplt23_crsol_cont_cats span,
.ocpc_tmplt24_crsol_cont_cats span,
.ocpc_tmplt25_crsol_cont_cats span,
.ocpc_tmplt26_crsol_cont_cats span,
.ocpc_tmplt27_crsol_cont_cats span,
.ocpc_tmplt28_crsol_cont_cats span,
.ocpc_tmplt29_crsol_cont_cats span,
.ocpc_tmplt30_crsol_cont_cats span,
.ocpc_tmplt31_crsol_cont_cats span,
.ocpc_tmplt32_crsol_cont_cats span,
.ocpc_tmplt33_crsol_cont_cats span,
.ocpc_tmplt6_msnry_cont_cats span,
.ocpc_tmplt7_msnry_cont_cats span,
.ocpc_tmplt8_msnry_cont_cats span,
.ocpc_tmplt9_msnry_cont_cats span,
.ocpc_tmplt10_msnry_cont_cats span,
.ocpc_tmplt11_msnry_cont_cats span,
.ocpc_tmplt12_msnry_cont_cats span,
.ocpc_tmplt13_msnry_cont_cats span,
.ocpc_tmplt14_msnry_cont_cats span,
.ocpc_tmplt15_msnry_cont_cats span,
.ocpc_tmplt16_msnry_cont_cats span,
.ocpc_tmplt17_msnry_cont_cats span,
.ocpc_tmplt18_msnry_cont_cats span,
.ocpc_tmplt19_msnry_cont_cats span,
.ocpc_tmplt20_msnry_cont_cats span,
.ocpc_tmplt21_msnry_cont_cats span,
.ocpc_tmplt22_msnry_cont_cats span,
.ocpc_tmplt23_msnry_cont_cats span,
.ocpc_tmplt24_msnry_cont_cats span,
.ocpc_tmplt25_msnry_cont_cats span,
.ocpc_tmplt26_msnry_cont_cats span,
.ocpc_tmplt27_msnry_cont_cats span,
.ocpc_tmplt28_msnry_cont_cats span,
.ocpc_tmplt29_msnry_cont_cats span,
.ocpc_tmplt30_msnry_cont_cats span,
.ocpc_tmplt31_msnry_cont_cats span,
.ocpc_tmplt32_msnry_cont_cats span,
.ocpc_tmplt33_msnry_cont_cats span {
    display: inline-flex;
    align-items: center;
}
.ocpc_tmplt6_glry_cont_cats svg,
.ocpc_tmplt7_glry_cont_cats svg,
.ocpc_tmplt8_glry_cont_cats svg,
.ocpc_tmplt9_glry_cont_cats svg,
.ocpc_tmplt10_glry_cont_cats svg,
.ocpc_tmplt11_glry_cont_cats svg,
.ocpc_tmplt12_glry_cont_cats svg,
.ocpc_tmplt13_glry_cont_cats svg,
.ocpc_tmplt14_glry_cont_cats svg,
.ocpc_tmplt15_glry_cont_cats svg,
.ocpc_tmplt16_glry_cont_cats svg,
.ocpc_tmplt17_glry_cont_cats svg,
.ocpc_tmplt18_glry_cont_cats svg,
.ocpc_tmplt19_glry_cont_cats svg,
.ocpc_tmplt20_glry_cont_cats svg,
.ocpc_tmplt21_glry_cont_cats svg,
.ocpc_tmplt22_glry_cont_cats svg,
.ocpc_tmplt23_glry_cont_cats svg,
.ocpc_tmplt24_glry_cont_cats svg,
.ocpc_tmplt25_glry_cont_cats svg,
.ocpc_tmplt26_glry_cont_cats svg,
.ocpc_tmplt27_glry_cont_cats svg,
.ocpc_tmplt28_glry_cont_cats svg,
.ocpc_tmplt29_glry_cont_cats svg,
.ocpc_tmplt30_glry_cont_cats svg,
.ocpc_tmplt31_glry_cont_cats svg,
.ocpc_tmplt32_glry_cont_cats svg,
.ocpc_tmplt33_glry_cont_cats svg,
.ocpc_tmplt6_crsol_cont_cats svg,
.ocpc_tmplt7_crsol_cont_cats svg, 
.ocpc_tmplt8_crsol_cont_cats svg,
.ocpc_tmplt9_crsol_cont_cats svg,
.ocpc_tmplt10_crsol_cont_cats svg,
.ocpc_tmplt11_crsol_cont_cats svg,
.ocpc_tmplt12_crsol_cont_cats svg,
.ocpc_tmplt13_crsol_cont_cats svg,
.ocpc_tmplt14_crsol_cont_cats svg,
.ocpc_tmplt15_crsol_cont_cats svg,
.ocpc_tmplt16_crsol_cont_cats svg,
.ocpc_tmplt17_crsol_cont_cats svg,
.ocpc_tmplt18_crsol_cont_cats svg,
.ocpc_tmplt19_crsol_cont_cats svg,
.ocpc_tmplt20_crsol_cont_cats svg,
.ocpc_tmplt21_crsol_cont_cats svg,
.ocpc_tmplt22_crsol_cont_cats svg,
.ocpc_tmplt23_crsol_cont_cats svg,
.ocpc_tmplt24_crsol_cont_cats svg,
.ocpc_tmplt25_crsol_cont_cats svg,
.ocpc_tmplt26_crsol_cont_cats svg,
.ocpc_tmplt27_crsol_cont_cats svg,
.ocpc_tmplt28_crsol_cont_cats svg,
.ocpc_tmplt29_crsol_cont_cats svg,
.ocpc_tmplt30_crsol_cont_cats svg,
.ocpc_tmplt31_crsol_cont_cats svg,
.ocpc_tmplt32_crsol_cont_cats svg,
.ocpc_tmplt33_crsol_cont_cats svg,
.ocpc_tmplt6_msnry_cont_cats svg,
.ocpc_tmplt7_msnry_cont_cats svg, 
.ocpc_tmplt8_msnry_cont_cats svg,
.ocpc_tmplt9_msnry_cont_cats svg,
.ocpc_tmplt10_msnry_cont_cats svg,
.ocpc_tmplt11_msnry_cont_cats svg,
.ocpc_tmplt12_msnry_cont_cats svg,
.ocpc_tmplt13_msnry_cont_cats svg,
.ocpc_tmplt14_msnry_cont_cats svg,
.ocpc_tmplt15_msnry_cont_cats svg,
.ocpc_tmplt16_msnry_cont_cats svg,
.ocpc_tmplt17_msnry_cont_cats svg,
.ocpc_tmplt18_msnry_cont_cats svg,
.ocpc_tmplt19_msnry_cont_cats svg,
.ocpc_tmplt20_msnry_cont_cats svg,
.ocpc_tmplt21_msnry_cont_cats svg,
.ocpc_tmplt22_msnry_cont_cats svg,
.ocpc_tmplt23_msnry_cont_cats svg,
.ocpc_tmplt24_msnry_cont_cats svg,
.ocpc_tmplt25_msnry_cont_cats svg,
.ocpc_tmplt26_msnry_cont_cats svg,
.ocpc_tmplt27_msnry_cont_cats svg,
.ocpc_tmplt28_msnry_cont_cats svg,
.ocpc_tmplt29_msnry_cont_cats svg,
.ocpc_tmplt30_msnry_cont_cats svg,
.ocpc_tmplt31_msnry_cont_cats svg,
.ocpc_tmplt32_msnry_cont_cats svg,
.ocpc_tmplt33_msnry_cont_cats svg {
    height: auto;
    margin-right: 7px;
    vertical-align: text-top;
}
.ocpc_tmplt6_glry_main,
.ocpc_tmplt7_glry_main,
.ocpc_tmplt8_glry_main,
.ocpc_tmplt9_glry_main,
.ocpc_tmplt10_glry_main, 
.ocpc_tmplt11_glry_main,
.ocpc_tmplt12_glry_main,
.ocpc_tmplt13_glry_main,
.ocpc_tmplt14_glry_main,
.ocpc_tmplt15_glry_main,
.ocpc_tmplt16_glry_main,
.ocpc_tmplt17_glry_main,
.ocpc_tmplt18_glry_main,
.ocpc_tmplt19_glry_main,
.ocpc_tmplt20_glry_main,
.ocpc_tmplt21_glry_main,
.ocpc_tmplt22_glry_main,
.ocpc_tmplt25_glry_main,
.ocpc_tmplt26_glry_main,
.ocpc_tmplt27_glry_main,
.ocpc_tmplt28_glry_main,
.ocpc_tmplt29_glry_main,
.ocpc_tmplt30_glry_main,
.ocpc_tmplt31_glry_main,
.ocpc_tmplt32_glry_main,
.ocpc_tmplt6_crsol_main,
.ocpc_tmplt7_crsol_main,
.ocpc_tmplt8_crsol_main,
.ocpc_tmplt9_crsol_main,
.ocpc_tmplt10_crsol_main, 
.ocpc_tmplt11_crsol_main,
.ocpc_tmplt12_crsol_main,
.ocpc_tmplt13_crsol_main,
.ocpc_tmplt14_crsol_main,
.ocpc_tmplt15_crsol_main,
.ocpc_tmplt16_crsol_main,
.ocpc_tmplt17_crsol_main,
.ocpc_tmplt18_crsol_main,
.ocpc_tmplt19_crsol_main,
.ocpc_tmplt20_crsol_main,
.ocpc_tmplt21_crsol_main,
.ocpc_tmplt22_crsol_main,
.ocpc_tmplt25_crsol_main,
.ocpc_tmplt26_crsol_main,
.ocpc_tmplt27_crsol_main,
.ocpc_tmplt28_crsol_main,
.ocpc_tmplt29_crsol_main,
.ocpc_tmplt30_crsol_main,
.ocpc_tmplt31_crsol_main,
.ocpc_tmplt32_crsol_main,
.ocpc_tmplt6_msnry_main,
.ocpc_tmplt7_msnry_main,
.ocpc_tmplt8_msnry_main,
.ocpc_tmplt9_msnry_main,
.ocpc_tmplt10_msnry_main, 
.ocpc_tmplt11_msnry_main,
.ocpc_tmplt12_msnry_main,
.ocpc_tmplt13_msnry_main,
.ocpc_tmplt14_msnry_main,
.ocpc_tmplt15_msnry_main,
.ocpc_tmplt16_msnry_main,
.ocpc_tmplt17_msnry_main,
.ocpc_tmplt18_msnry_main,
.ocpc_tmplt19_msnry_main,
.ocpc_tmplt20_msnry_main,
.ocpc_tmplt21_msnry_main,
.ocpc_tmplt22_msnry_main,
.ocpc_tmplt25_msnry_main,
.ocpc_tmplt26_msnry_main,
.ocpc_tmplt27_msnry_main,
.ocpc_tmplt28_msnry_main,
.ocpc_tmplt29_msnry_main,
.ocpc_tmplt30_msnry_main,
.ocpc_tmplt31_msnry_main,
.ocpc_tmplt32_msnry_main {
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.ocpc_tmplt6_glry_img_div,
.ocpc_tmplt7_glry_img_div,
.ocpc_tmplt8_glry_img_div,
.ocpc_tmplt9_glry_img_div,
.ocpc_tmplt10_glry_img_div,
.ocpc_tmplt11_glry_img_div,
.ocpc_tmplt12_glry_img_div,
.ocpc_tmplt6_crsol_img_div,
.ocpc_tmplt7_crsol_img_div,
.ocpc_tmplt8_crsol_img_div,
.ocpc_tmplt9_crsol_img_div,
.ocpc_tmplt10_crsol_img_div,
.ocpc_tmplt11_crsol_img_div,
.ocpc_tmplt12_crsol_img_div,
.ocpc_tmplt6_msnry_img_div,
.ocpc_tmplt7_msnry_img_div,
.ocpc_tmplt8_msnry_img_div,
.ocpc_tmplt9_msnry_img_div,
.ocpc_tmplt10_msnry_img_div,
.ocpc_tmplt11_msnry_img_div,
.ocpc_tmplt12_msnry_img_div {
    height: auto;
    transition: all .4s ease 0s;
    left: 0;
    top: 0;
    width: 100%;
}
.ocpc_tmplt6_glry_img,
.ocpc_tmplt7_glry_img,
.ocpc_tmplt8_glry_img,
.ocpc_tmplt9_glry_img,
.ocpc_tmplt10_glry_img,
.ocpc_tmplt11_glry_img,
.ocpc_tmplt12_glry_img,
.ocpc_tmplt13_glry_img,
.ocpc_tmplt14_glry_img,
.ocpc_tmplt15_glry_img,
.ocpc_tmplt16_glry_img,
.ocpc_tmplt17_glry_img,
.ocpc_tmplt18_glry_img,
.ocpc_tmplt19_glry_img,
.ocpc_tmplt20_glry_img,
.ocpc_tmplt21_glry_img,
.ocpc_tmplt22_glry_img,
.ocpc_tmplt23_glry_img,
.ocpc_tmplt24_glry_img,
.ocpc_tmplt25_glry_img,
.ocpc_tmplt26_glry_img,
.ocpc_tmplt27_glry_img,
.ocpc_tmplt28_glry_img,
.ocpc_tmplt29_glry_img,
.ocpc_tmplt30_glry_img,
.ocpc_tmplt31_glry_img,
.ocpc_tmplt32_glry_img,
.ocpc_tmplt33_glry_img,
.ocpc_tmplt6_crsol_img,
.ocpc_tmplt7_crsol_img,
.ocpc_tmplt8_crsol_img,
.ocpc_tmplt9_crsol_img,
.ocpc_tmplt10_crsol_img,
.ocpc_tmplt11_crsol_img,
.ocpc_tmplt12_crsol_img,
.ocpc_tmplt13_crsol_img,
.ocpc_tmplt14_crsol_img,
.ocpc_tmplt15_crsol_img,
.ocpc_tmplt16_crsol_img,
.ocpc_tmplt17_crsol_img,
.ocpc_tmplt18_crsol_img,
.ocpc_tmplt19_crsol_img,
.ocpc_tmplt20_crsol_img,
.ocpc_tmplt21_crsol_img,
.ocpc_tmplt22_crsol_img,
.ocpc_tmplt23_crsol_img,
.ocpc_tmplt24_crsol_img,
.ocpc_tmplt25_crsol_img,
.ocpc_tmplt26_crsol_img,
.ocpc_tmplt27_crsol_img,
.ocpc_tmplt28_crsol_img,
.ocpc_tmplt29_crsol_img,
.ocpc_tmplt30_crsol_img,
.ocpc_tmplt31_crsol_img,
.ocpc_tmplt32_crsol_img,
.ocpc_tmplt6_msnry_img,
.ocpc_tmplt7_msnry_img,
.ocpc_tmplt8_msnry_img,
.ocpc_tmplt9_msnry_img,
.ocpc_tmplt10_msnry_img,
.ocpc_tmplt11_msnry_img,
.ocpc_tmplt12_msnry_img,
.ocpc_tmplt13_msnry_img,
.ocpc_tmplt14_msnry_img,
.ocpc_tmplt15_msnry_img,
.ocpc_tmplt16_msnry_img,
.ocpc_tmplt17_msnry_img,
.ocpc_tmplt18_msnry_img,
.ocpc_tmplt19_msnry_img,
.ocpc_tmplt20_msnry_img,
.ocpc_tmplt21_msnry_img,
.ocpc_tmplt22_msnry_img,
.ocpc_tmplt23_msnry_img,
.ocpc_tmplt24_msnry_img,
.ocpc_tmplt25_msnry_img,
.ocpc_tmplt26_msnry_img,
.ocpc_tmplt27_msnry_img,
.ocpc_tmplt28_msnry_img,
.ocpc_tmplt29_msnry_img,
.ocpc_tmplt30_msnry_img,
.ocpc_tmplt31_msnry_img,
.ocpc_tmplt32_msnry_img,
.ocpc_tmplt33_msnry_img {
    height: auto;
    overflow: hidden;
}
.ocpc_tmplt6_glry_img a,
.ocpc_tmplt7_glry_img a,
.ocpc_tmplt8_glry_img a,
.ocpc_tmplt9_glry_img a,
.ocpc_tmplt10_glry_img a,
.ocpc_tmplt11_glry_img a,
.ocpc_tmplt12_glry_img a,
.ocpc_tmplt13_glry_img a,
.ocpc_tmplt14_glry_img a,
.ocpc_tmplt15_glry_img a,
.ocpc_tmplt16_glry_img a,
.ocpc_tmplt17_glry_img a,
.ocpc_tmplt18_glry_img a,
.ocpc_tmplt19_glry_img a,
.ocpc_tmplt20_glry_img a,
.ocpc_tmplt21_glry_img a,
.ocpc_tmplt22_glry_img a,
.ocpc_tmplt23_glry_img a,
.ocpc_tmplt24_glry_img a,
.ocpc_tmplt25_glry_img a,
.ocpc_tmplt26_glry_img a,
.ocpc_tmplt27_glry_img a,
.ocpc_tmplt28_glry_img a,
.ocpc_tmplt29_glry_img a,
.ocpc_tmplt30_glry_img a,
.ocpc_tmplt31_glry_img a,
.ocpc_tmplt32_glry_img a,
.ocpc_tmplt33_glry_img a,
.ocpc_tmplt6_crsol_img a,
.ocpc_tmplt7_crsol_img a,
.ocpc_tmplt8_crsol_img a,
.ocpc_tmplt9_crsol_img a,
.ocpc_tmplt10_crsol_img a,
.ocpc_tmplt11_crsol_img a,
.ocpc_tmplt12_crsol_img a,
.ocpc_tmplt13_crsol_img a,
.ocpc_tmplt14_crsol_img a,
.ocpc_tmplt15_crsol_img a,
.ocpc_tmplt16_crsol_img a,
.ocpc_tmplt17_crsol_img a,
.ocpc_tmplt18_crsol_img a,
.ocpc_tmplt19_crsol_img a,
.ocpc_tmplt20_crsol_img a,
.ocpc_tmplt21_crsol_img a,
.ocpc_tmplt22_crsol_img a,
.ocpc_tmplt23_crsol_img a,
.ocpc_tmplt24_crsol_img a,
.ocpc_tmplt25_crsol_img a,
.ocpc_tmplt26_crsol_img a,
.ocpc_tmplt27_crsol_img a,
.ocpc_tmplt28_crsol_img a,
.ocpc_tmplt29_crsol_img a,
.ocpc_tmplt30_crsol_img a,
.ocpc_tmplt31_crsol_img a,
.ocpc_tmplt32_crsol_img a,
.ocpc_tmplt33_crsol_img a,
.ocpc_tmplt6_msnry_img a,
.ocpc_tmplt7_msnry_img a,
.ocpc_tmplt8_msnry_img a,
.ocpc_tmplt9_msnry_img a,
.ocpc_tmplt10_msnry_img a,
.ocpc_tmplt11_msnry_img a,
.ocpc_tmplt12_msnry_img a,
.ocpc_tmplt13_msnry_img a,
.ocpc_tmplt14_msnry_img a,
.ocpc_tmplt15_msnry_img a,
.ocpc_tmplt16_msnry_img a,
.ocpc_tmplt17_msnry_img a,
.ocpc_tmplt18_msnry_img a,
.ocpc_tmplt19_msnry_img a,
.ocpc_tmplt20_msnry_img a,
.ocpc_tmplt21_msnry_img a,
.ocpc_tmplt22_msnry_img a,
.ocpc_tmplt23_msnry_img a,
.ocpc_tmplt24_msnry_img a,
.ocpc_tmplt25_msnry_img a,
.ocpc_tmplt26_msnry_img a,
.ocpc_tmplt27_msnry_img a,
.ocpc_tmplt28_msnry_img a,
.ocpc_tmplt29_msnry_img a,
.ocpc_tmplt30_msnry_img a,
.ocpc_tmplt31_msnry_img a,
.ocpc_tmplt32_msnry_img a,
.ocpc_tmplt33_msnry_img a {
    text-decoration: none;
}
.ocpc_tmplt6_glry_img img,
.ocpc_tmplt7_glry_img img,
.ocpc_tmplt8_glry_img img,
.ocpc_tmplt9_glry_img img,
.ocpc_tmplt10_glry_img img,
.ocpc_tmplt11_glry_img img,
.ocpc_tmplt12_glry_img img,
.ocpc_tmplt13_glry_img img,
.ocpc_tmplt14_glry_img img,
.ocpc_tmplt15_glry_img img,
.ocpc_tmplt16_glry_img img,
.ocpc_tmplt17_glry_img img,
.ocpc_tmplt18_glry_img img,
.ocpc_tmplt19_glry_img img,
.ocpc_tmplt20_glry_img img,
.ocpc_tmplt21_glry_img img,
.ocpc_tmplt22_glry_img img,
.ocpc_tmplt23_glry_img img,
.ocpc_tmplt24_glry_img img,
.ocpc_tmplt25_glry_img img,
.ocpc_tmplt26_glry_img img,
.ocpc_tmplt27_glry_img img,
.ocpc_tmplt28_glry_img img,
.ocpc_tmplt29_glry_img img,
.ocpc_tmplt30_glry_img img,
.ocpc_tmplt31_glry_img img,
.ocpc_tmplt32_glry_img img,
.ocpc_tmplt33_glry_img img,
.ocpc_tmplt6_crsol_img img,
.ocpc_tmplt7_crsol_img img,
.ocpc_tmplt8_crsol_img img,
.ocpc_tmplt9_crsol_img img,
.ocpc_tmplt10_crsol_img img,
.ocpc_tmplt11_crsol_img img,
.ocpc_tmplt12_crsol_img img,
.ocpc_tmplt13_crsol_img img,
.ocpc_tmplt14_crsol_img img,
.ocpc_tmplt15_crsol_img img,
.ocpc_tmplt16_crsol_img img,
.ocpc_tmplt17_crsol_img img,
.ocpc_tmplt18_crsol_img img,
.ocpc_tmplt19_crsol_img img,
.ocpc_tmplt20_crsol_img img,
.ocpc_tmplt21_crsol_img img,
.ocpc_tmplt22_crsol_img img,
.ocpc_tmplt23_crsol_img img,
.ocpc_tmplt24_crsol_img img,
.ocpc_tmplt25_crsol_img img,
.ocpc_tmplt26_crsol_img img,
.ocpc_tmplt27_crsol_img img,
.ocpc_tmplt28_crsol_img img,
.ocpc_tmplt29_crsol_img img,
.ocpc_tmplt30_crsol_img img,
.ocpc_tmplt31_crsol_img img,
.ocpc_tmplt32_crsol_img img,
.ocpc_tmplt33_crsol_img img,
.ocpc_tmplt6_msnry_img img,
.ocpc_tmplt7_msnry_img img,
.ocpc_tmplt8_msnry_img img,
.ocpc_tmplt9_msnry_img img,
.ocpc_tmplt10_msnry_img img,
.ocpc_tmplt11_msnry_img img,
.ocpc_tmplt12_msnry_img img,
.ocpc_tmplt13_msnry_img img,
.ocpc_tmplt14_msnry_img img,
.ocpc_tmplt15_msnry_img img,
.ocpc_tmplt16_msnry_img img,
.ocpc_tmplt17_msnry_img img,
.ocpc_tmplt18_msnry_img img,
.ocpc_tmplt19_msnry_img img,
.ocpc_tmplt20_msnry_img img,
.ocpc_tmplt21_msnry_img img,
.ocpc_tmplt22_msnry_img img,
.ocpc_tmplt23_msnry_img img,
.ocpc_tmplt24_msnry_img img,
.ocpc_tmplt25_msnry_img img,
.ocpc_tmplt26_msnry_img img,
.ocpc_tmplt27_msnry_img img,
.ocpc_tmplt28_msnry_img img,
.ocpc_tmplt29_msnry_img img,
.ocpc_tmplt30_msnry_img img,
.ocpc_tmplt31_msnry_img img,
.ocpc_tmplt32_msnry_img img,
.ocpc_tmplt33_msnry_img img {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}
.ocpc_tmplt6_glry_cont_main,
.ocpc_tmplt6_crsol_cont_main,
.ocpc_tmplt6_msnry_cont_main {
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    width: 100%;
    padding: 10px;
}
.ocpc_tmplt7_glry_cont_main,
.ocpc_tmplt7_crsol_cont_main,
.ocpc_tmplt7_msnry_cont_main {
    bottom: 50%;
    left: 0;
    position: absolute;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    width: 100%;
    padding: 10px;
    -webkit-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    transform: translate(0,50%);
}
.ocpc_tmplt8_glry_cont_main,
.ocpc_tmplt9_glry_cont_main,
.ocpc_tmplt10_glry_cont_main,
.ocpc_tmplt8_crsol_cont_main,
.ocpc_tmplt9_crsol_cont_main,
.ocpc_tmplt10_crsol_cont_main,
.ocpc_tmplt8_msnry_cont_main,
.ocpc_tmplt9_msnry_cont_main,
.ocpc_tmplt10_msnry_cont_main {
    position: absolute;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    width: 100%;
    padding: 10px;
}
.ocpc_tmplt8_glry_cont_main,
.ocpc_tmplt8_crsol_cont_main,
.ocpc_tmplt8_msnry_cont_main {
    bottom: -200%;
}
.ocpc_tmplt8_glry_main:hover .ocpc_tmplt8_glry_cont_main, 
.ocpc_tmplt8_crsol_main:hover .ocpc_tmplt8_crsol_cont_main, 
.ocpc_tmplt8_msnry_main:hover .ocpc_tmplt8_msnry_cont_main {
    bottom: 0;
}
.ocpc_tmplt9_glry_cont_main, 
.ocpc_tmplt9_crsol_cont_main, 
.ocpc_tmplt9_msnry_cont_main {
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
}
.ocpc_tmplt9_glry_main:hover .ocpc_tmplt9_glry_cont_main,
.ocpc_tmplt9_crsol_main:hover .ocpc_tmplt9_crsol_cont_main,
.ocpc_tmplt9_msnry_main:hover .ocpc_tmplt9_msnry_cont_main {
    left: 0;
}
.ocpc_tmplt10_glry_cont_main, 
.ocpc_tmplt10_crsol_cont_main, 
.ocpc_tmplt10_msnry_cont_main {
    top: 0;
    bottom: 0;
    right: -100%;
}
.ocpc_tmplt10_glry_main:hover .ocpc_tmplt10_glry_cont_main, 
.ocpc_tmplt10_crsol_main:hover .ocpc_tmplt10_crsol_cont_main, 
.ocpc_tmplt10_msnry_main:hover .ocpc_tmplt10_msnry_cont_main {
    right: 0;
}
.ocpc_tmplt11_glry_cont_main,
.ocpc_tmplt11_crsol_cont_main,
.ocpc_tmplt11_msnry_cont_main,
.ocpc_tmplt12_glry_cont_main,
.ocpc_tmplt12_crsol_cont_main,
.ocpc_tmplt12_msnry_cont_main {
    bottom: 50%;
    color: #fff;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    transform: translate(-50%,50%);
    width: 90%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ocpc_tmplt11_glry_cont_main:before,
.ocpc_tmplt11_crsol_cont_main:before,
.ocpc_tmplt11_msnry_cont_main:before,
.ocpc_tmplt12_glry_cont_main:before,
.ocpc_tmplt12_crsol_cont_main:before,
.ocpc_tmplt12_msnry_cont_main:before {
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 30px;
    left: 10px;
    right: 10px;
    top: 30px;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: opacity .35s ease 0s,-webkit-transform .35s ease 0s;
    transition: opacity .35s ease 0s,transform .35s ease 0s;
}
.ocpc_tmplt11_glry_cont_main:after,
.ocpc_tmplt11_crsol_cont_main:after,
.ocpc_tmplt11_msnry_cont_main:after,
.ocpc_tmplt12_glry_cont_main:after,
.ocpc_tmplt12_crsol_cont_main:after,
.ocpc_tmplt12_msnry_cont_main:after {
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 10px;
    left: 30px;
    right: 30px;
    top: 10px;
    -webkit-transform: scale(1,0);
    -ms-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0 0;
    -ms-transform-origin: 100% 0 0;
    transform-origin: 100% 0 0;
    -webkit-transition: opacity .35s ease 0s,-webkit-transform .35s ease 0s;
    transition: opacity .35s ease 0s,transform .35s ease 0s;
}
.ocpc_tmplt11_glry_main:hover .ocpc_tmplt11_glry_cont_main:after,
.ocpc_tmplt11_glry_main:hover .ocpc_tmplt11_glry_cont_main:before,
.ocpc_tmplt11_crsol_main:hover .ocpc_tmplt11_crsol_cont_main:after,
.ocpc_tmplt11_crsol_main:hover .ocpc_tmplt11_crsol_cont_main:before,
.ocpc_tmplt11_msnry_main:hover .ocpc_tmplt11_msnry_cont_main:after,
.ocpc_tmplt11_msnry_main:hover .ocpc_tmplt11_msnry_cont_main:before,
.ocpc_tmplt12_glry_main:hover .ocpc_tmplt12_glry_cont_main:after,
.ocpc_tmplt12_glry_main:hover .ocpc_tmplt12_glry_cont_main:before,
.ocpc_tmplt12_crsol_main:hover .ocpc_tmplt12_crsol_cont_main:after,
.ocpc_tmplt12_crsol_main:hover .ocpc_tmplt12_crsol_cont_main:before,
.ocpc_tmplt12_msnry_main:hover .ocpc_tmplt12_msnry_cont_main:after,
.ocpc_tmplt12_msnry_main:hover .ocpc_tmplt12_msnry_cont_main:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.ocpc_tmplt12_glry_cont_main:before,
.ocpc_tmplt12_crsol_cont_main:before,
.ocpc_tmplt12_msnry_cont_main:before {
    border-radius: 15px;
    left: 30px;
    right: 30px;
}
.ocpc_tmplt12_glry_cont_main:after,
.ocpc_tmplt12_crsol_cont_main:after,
.ocpc_tmplt12_msnry_cont_main:after {
    border-radius: 15px;
    bottom: 30px;
    top: 30px;
}
.ocpc_tmplt13_glry_img_div,
.ocpc_tmplt13_crsol_img_div,
.ocpc_tmplt13_msnry_img_div,
.ocpc_tmplt14_glry_img_div,
.ocpc_tmplt14_crsol_img_div,
.ocpc_tmplt14_msnry_img_div,
.ocpc_tmplt15_glry_img_div,
.ocpc_tmplt15_crsol_img_div,
.ocpc_tmplt15_msnry_img_div,
.ocpc_tmplt16_glry_img_div,
.ocpc_tmplt16_crsol_img_div,
.ocpc_tmplt16_msnry_img_div {
    height: auto;
    transition: all 1s ease 0s;
    width: 100%;
}
.ocpc_tmplt17_glry_img_div,
.ocpc_tmplt17_crsol_img_div,
.ocpc_tmplt17_msnry_img_div,
.ocpc_tmplt18_glry_img_div,
.ocpc_tmplt18_crsol_img_div,
.ocpc_tmplt18_msnry_img_div,
.ocpc_tmplt19_glry_img_div,
.ocpc_tmplt19_crsol_img_div,
.ocpc_tmplt19_msnry_img_div,
.ocpc_tmplt20_glry_img_div,
.ocpc_tmplt20_crsol_img_div,
.ocpc_tmplt20_msnry_img_div,
.ocpc_tmplt21_glry_img_div,
.ocpc_tmplt21_crsol_img_div,
.ocpc_tmplt21_msnry_img_div,
.ocpc_tmplt22_glry_img_div,
.ocpc_tmplt22_crsol_img_div,
.ocpc_tmplt22_msnry_img_div {
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    left: 0;
    top: 0;
    width: 100%;
}
.ocpc_tmplt13_glry_cont_main,
.ocpc_tmplt13_crsol_cont_main,
.ocpc_tmplt13_msnry_cont_main,
.ocpc_tmplt14_glry_cont_main,
.ocpc_tmplt14_crsol_cont_main,
.ocpc_tmplt14_msnry_cont_main,
.ocpc_tmplt15_glry_cont_main,
.ocpc_tmplt15_crsol_cont_main,
.ocpc_tmplt15_msnry_cont_main,
.ocpc_tmplt16_glry_cont_main,
.ocpc_tmplt16_crsol_cont_main,
.ocpc_tmplt16_msnry_cont_main,
.ocpc_tmplt17_glry_cont_main,
.ocpc_tmplt17_crsol_cont_main,
.ocpc_tmplt17_msnry_cont_main,
.ocpc_tmplt18_glry_cont_main,
.ocpc_tmplt18_crsol_cont_main,
.ocpc_tmplt18_msnry_cont_main {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.ocpc_tmplt19_glry_cont_main,
.ocpc_tmplt19_crsol_cont_main,
.ocpc_tmplt19_msnry_cont_main,
.ocpc_tmplt20_glry_cont_main,
.ocpc_tmplt20_crsol_cont_main,
.ocpc_tmplt20_msnry_cont_main,
.ocpc_tmplt21_glry_cont_main,
.ocpc_tmplt21_crsol_cont_main,
.ocpc_tmplt21_msnry_cont_main,
.ocpc_tmplt22_glry_cont_main,
.ocpc_tmplt22_crsol_cont_main,
.ocpc_tmplt22_msnry_cont_main {
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    width: 100%;
    padding: 10px;
}
.ocpc_tmplt13_glry_main:hover .ocpc_tmplt13_glry_cont_main,
.ocpc_tmplt13_crsol_main:hover .ocpc_tmplt13_crsol_cont_main,
.ocpc_tmplt13_msnry_main:hover .ocpc_tmplt13_msnry_cont_main,
.ocpc_tmplt14_glry_main:hover .ocpc_tmplt14_glry_cont_main,
.ocpc_tmplt14_crsol_main:hover .ocpc_tmplt14_crsol_cont_main,
.ocpc_tmplt14_msnry_main:hover .ocpc_tmplt14_msnry_cont_main,
.ocpc_tmplt15_glry_main:hover .ocpc_tmplt15_glry_cont_main,
.ocpc_tmplt15_crsol_main:hover .ocpc_tmplt15_crsol_cont_main,
.ocpc_tmplt15_msnry_main:hover .ocpc_tmplt15_msnry_cont_main,
.ocpc_tmplt16_glry_main:hover .ocpc_tmplt16_glry_cont_main,
.ocpc_tmplt16_crsol_main:hover .ocpc_tmplt16_crsol_cont_main,
.ocpc_tmplt16_msnry_main:hover .ocpc_tmplt16_msnry_cont_main,
.ocpc_tmplt25_glry_main:hover .ocpc_tmplt25_glry_cont_main,
.ocpc_tmplt25_crsol_main:hover .ocpc_tmplt25_crsol_cont_main,
.ocpc_tmplt25_msnry_main:hover .ocpc_tmplt25_msnry_cont_main,
.ocpc_tmplt26_glry_main:hover .ocpc_tmplt26_glry_cont_main,
.ocpc_tmplt26_crsol_main:hover .ocpc_tmplt26_crsol_cont_main,
.ocpc_tmplt26_msnry_main:hover .ocpc_tmplt26_msnry_cont_main,
.ocpc_tmplt27_glry_main:hover .ocpc_tmplt27_glry_cont_main,
.ocpc_tmplt27_crsol_main:hover .ocpc_tmplt27_crsol_cont_main,
.ocpc_tmplt27_msnry_main:hover .ocpc_tmplt27_msnry_cont_main,
.ocpc_tmplt28_glry_main:hover .ocpc_tmplt28_glry_cont_main,
.ocpc_tmplt28_crsol_main:hover .ocpc_tmplt28_crsol_cont_main,
.ocpc_tmplt28_msnry_main:hover .ocpc_tmplt28_msnry_cont_main,
.ocpc_tmplt29_glry_main:hover .ocpc_tmplt29_glry_cont_main,
.ocpc_tmplt29_crsol_main:hover .ocpc_tmplt29_crsol_cont_main,
.ocpc_tmplt29_msnry_main:hover .ocpc_tmplt29_msnry_cont_main,
.ocpc_tmplt30_glry_main:hover .ocpc_tmplt30_glry_cont_main,
.ocpc_tmplt30_crsol_main:hover .ocpc_tmplt30_crsol_cont_main,
.ocpc_tmplt30_msnry_main:hover .ocpc_tmplt30_msnry_cont_main,
.ocpc_tmplt31_glry_main:hover .ocpc_tmplt31_glry_cont_main,
.ocpc_tmplt31_crsol_main:hover .ocpc_tmplt31_crsol_cont_main,
.ocpc_tmplt31_msnry_main:hover .ocpc_tmplt31_msnry_cont_main,
.ocpc_tmplt32_glry_main:hover .ocpc_tmplt32_glry_cont_main,
.ocpc_tmplt32_crsol_main:hover .ocpc_tmplt32_crsol_cont_main,
.ocpc_tmplt32_msnry_main:hover .ocpc_tmplt32_msnry_cont_main {
    opacity: 1;
}
.ocpc_tmplt13_glry_main:hover .ocpc_tmplt13_glry_img_div,
.ocpc_tmplt13_crsol_main:hover .ocpc_tmplt13_crsol_img_div,
.ocpc_tmplt13_msnry_main:hover .ocpc_tmplt13_msnry_img_div {
    opacity: 0;
    -webkit-transform: scale(.5) translateX(-100%);
    -ms-transform: scale(.5) translateX(-100%);
    transform: scale(.5) translateX(-100%);
}
.ocpc_tmplt14_glry_main:hover .ocpc_tmplt14_glry_img_div,
.ocpc_tmplt14_crsol_main:hover .ocpc_tmplt14_crsol_img_div,
.ocpc_tmplt14_msnry_main:hover .ocpc_tmplt14_msnry_img_div {
    opacity: 0;
    -webkit-transform: scale(.5) translateX(100%);
    -ms-transform: scale(.5) translateX(100%);
    transform: scale(.5) translateX(100%);
}
.ocpc_tmplt15_glry_main:hover .ocpc_tmplt15_glry_img_div,
.ocpc_tmplt15_crsol_main:hover .ocpc_tmplt15_crsol_img_div,
.ocpc_tmplt15_msnry_main:hover .ocpc_tmplt15_msnry_img_div {
    opacity: 0;
    top: -100%;
    -webkit-transform: translateY(-100%) scale(.6);
    -ms-transform: translateY(-100%) scale(.6);
    transform: translateY(-100%) scale(.6);
}
.ocpc_tmplt16_glry_main:hover .ocpc_tmplt16_glry_img_div,
.ocpc_tmplt16_crsol_main:hover .ocpc_tmplt16_crsol_img_div,
.ocpc_tmplt16_msnry_main:hover .ocpc_tmplt16_msnry_img_div {
    bottom: -100%;
    opacity: 0;
    -webkit-transform: scale(.5) translateY(100%);
    -ms-transform: scale(.5) translateY(100%);
    transform: scale(.5) translateY(100%);
}
.ocpc_tmplt17_glry_main:hover .ocpc_tmplt17_glry_cont_main,
.ocpc_tmplt17_crsol_main:hover .ocpc_tmplt17_crsol_cont_main,
.ocpc_tmplt17_msnry_main:hover .ocpc_tmplt17_msnry_cont_main,
.ocpc_tmplt18_glry_main:hover .ocpc_tmplt18_glry_cont_main,
.ocpc_tmplt18_crsol_main:hover .ocpc_tmplt18_crsol_cont_main,
.ocpc_tmplt18_msnry_main:hover .ocpc_tmplt18_msnry_cont_main {
    opacity: 1;
    z-index: 10;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}
.ocpc_tmplt19_glry_main:hover .ocpc_tmplt19_glry_cont_main,
.ocpc_tmplt19_crsol_main:hover .ocpc_tmplt19_crsol_cont_main,
.ocpc_tmplt19_msnry_main:hover .ocpc_tmplt19_msnry_cont_main,
.ocpc_tmplt20_glry_main:hover .ocpc_tmplt20_glry_cont_main,
.ocpc_tmplt20_crsol_main:hover .ocpc_tmplt20_crsol_cont_main,
.ocpc_tmplt20_msnry_main:hover .ocpc_tmplt20_msnry_cont_main,
.ocpc_tmplt21_glry_main:hover .ocpc_tmplt21_glry_cont_main,
.ocpc_tmplt21_crsol_main:hover .ocpc_tmplt21_crsol_cont_main,
.ocpc_tmplt21_msnry_main:hover .ocpc_tmplt21_msnry_cont_main,
.ocpc_tmplt22_glry_main:hover .ocpc_tmplt22_glry_cont_main,
.ocpc_tmplt22_crsol_main:hover .ocpc_tmplt22_crsol_cont_main,
.ocpc_tmplt22_msnry_main:hover .ocpc_tmplt22_msnry_cont_main {
    left: 0;
}
.ocpc_tmplt17_glry_main:hover .ocpc_tmplt17_glry_img_div,
.ocpc_tmplt17_crsol_main:hover .ocpc_tmplt17_crsol_img_div,
.ocpc_tmplt17_msnry_main:hover .ocpc_tmplt17_msnry_img_div {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    opacity: .3;
    z-index: 9;
}
.ocpc_tmplt18_glry_main:hover .ocpc_tmplt18_glry_img_div,
.ocpc_tmplt18_crsol_main:hover .ocpc_tmplt18_crsol_img_div,
.ocpc_tmplt18_msnry_main:hover .ocpc_tmplt18_msnry_img_div {
    -webkit-transform: scale(.9) skew(5deg);
    -ms-transform: scale(.9) skew(5deg);
    transform: scale(.9) skew(5deg);
    opacity: .3;
    z-index: 9;
}
.ocpc_tmplt19_glry_main:hover .ocpc_tmplt19_glry_img_div,
.ocpc_tmplt19_crsol_main:hover .ocpc_tmplt19_crsol_img_div,
.ocpc_tmplt19_msnry_main:hover .ocpc_tmplt19_msnry_img_div {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ocpc_tmplt20_glry_main:hover .ocpc_tmplt20_glry_img_div,
.ocpc_tmplt20_crsol_main:hover .ocpc_tmplt20_crsol_img_div,
.ocpc_tmplt20_msnry_main:hover .ocpc_tmplt20_msnry_img_div {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.ocpc_tmplt21_glry_main:hover .ocpc_tmplt21_glry_img_div,
.ocpc_tmplt21_crsol_main:hover .ocpc_tmplt21_crsol_img_div,
.ocpc_tmplt21_msnry_main:hover .ocpc_tmplt21_msnry_img_div {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.ocpc_tmplt22_glry_main:hover .ocpc_tmplt22_glry_img_div,
.ocpc_tmplt22_crsol_main:hover .ocpc_tmplt22_crsol_img_div,
.ocpc_tmplt22_msnry_main:hover .ocpc_tmplt22_msnry_img_div {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.ocpc_tmplt23_glry_main,
.ocpc_tmplt23_crsol_main,
.ocpc_tmplt23_msnry_main,
.ocpc_tmplt24_glry_main,
.ocpc_tmplt24_crsol_main,
.ocpc_tmplt24_msnry_main {
    overflow: hidden;
    padding: 0;
    -webkit-perspective: 600px;
    perspective: 600px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.ocpc_tmplt23_glry_img_div,
.ocpc_tmplt23_crsol_img_div,
.ocpc_tmplt23_msnry_img_div,
.ocpc_tmplt24_glry_img_div,
.ocpc_tmplt24_crsol_img_div,
.ocpc_tmplt24_msnry_img_div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    float: none;
    height: inherit;
    left: 0;
    text-align: center;
    top: 0;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
    width: inherit;
    z-index: 900;
}
.ocpc_tmplt25_glry_img_div,
.ocpc_tmplt25_crsol_img_div,
.ocpc_tmplt25_msnry_img_div,
.ocpc_tmplt26_glry_img_div,
.ocpc_tmplt26_crsol_img_div,
.ocpc_tmplt26_msnry_img_div,
.ocpc_tmplt27_glry_img_div,
.ocpc_tmplt27_crsol_img_div,
.ocpc_tmplt27_msnry_img_div,
.ocpc_tmplt28_glry_img_div,
.ocpc_tmplt28_crsol_img_div,
.ocpc_tmplt28_msnry_img_div,
.ocpc_tmplt29_glry_img_div,
.ocpc_tmplt29_crsol_img_div,
.ocpc_tmplt29_msnry_img_div,
.ocpc_tmplt30_glry_img_div,
.ocpc_tmplt30_crsol_img_div,
.ocpc_tmplt30_msnry_img_div,
.ocpc_tmplt31_glry_img_div,
.ocpc_tmplt31_crsol_img_div,
.ocpc_tmplt31_msnry_img_div,
.ocpc_tmplt32_glry_img_div,
.ocpc_tmplt32_crsol_img_div,
.ocpc_tmplt32_msnry_img_div {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    left: 0;
    top: 0;
    width: 100%;
}
.ocpc_tmplt33_glry_img_div,
.ocpc_tmplt33_crsol_img_div,
.ocpc_tmplt33_msnry_img_div {
    border-radius: 50%;
    overflow: hidden;
}
.ocpc_tmplt23_glry_cont_main,
.ocpc_tmplt23_crsol_cont_main,
.ocpc_tmplt23_msnry_cont_main {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    float: none;
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotateX(-179deg);
    transform: rotateX(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
    width: inherit;
    z-index: 800;
    padding: 10px;
    height: 100%; 
}
.ocpc_tmplt24_glry_cont_main,
.ocpc_tmplt24_crsol_cont_main,
.ocpc_tmplt24_msnry_cont_main {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    float: none;
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
    width: inherit;
    z-index: 800;
    padding: 10px;
    height: 100%;
}
.ocpc_tmplt25_glry_cont_main,
.ocpc_tmplt25_crsol_cont_main,
.ocpc_tmplt25_msnry_cont_main,
.ocpc_tmplt26_glry_cont_main,
.ocpc_tmplt26_crsol_cont_main,
.ocpc_tmplt26_msnry_cont_main,
.ocpc_tmplt27_glry_cont_main,
.ocpc_tmplt27_crsol_cont_main,
.ocpc_tmplt27_msnry_cont_main,
.ocpc_tmplt28_glry_cont_main,
.ocpc_tmplt28_crsol_cont_main,
.ocpc_tmplt28_msnry_cont_main,
.ocpc_tmplt29_glry_cont_main,
.ocpc_tmplt29_crsol_cont_main,
.ocpc_tmplt29_msnry_cont_main,
.ocpc_tmplt30_glry_cont_main,
.ocpc_tmplt30_crsol_cont_main,
.ocpc_tmplt30_msnry_cont_main,
.ocpc_tmplt31_glry_cont_main,
.ocpc_tmplt31_crsol_cont_main,
.ocpc_tmplt31_msnry_cont_main,
.ocpc_tmplt32_glry_cont_main,
.ocpc_tmplt32_crsol_cont_main,
.ocpc_tmplt32_msnry_cont_main {
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 10px;
    width: 100%;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    height: 100%;
}
.ocpc_tmplt33_glry_cont_main,
.ocpc_tmplt33_crsol_cont_main,
.ocpc_tmplt33_msnry_cont_main {
    margin-top: 10px;
}
.ocpc_tmplt23_glry_main:hover .ocpc_tmplt23_glry_img_div,
.ocpc_tmplt23_crsol_main:hover .ocpc_tmplt23_crsol_img_div,
.ocpc_tmplt23_msnry_main:hover .ocpc_tmplt23_msnry_img_div {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    z-index: 900;
}
.ocpc_tmplt24_glry_main:hover .ocpc_tmplt24_glry_img_div,
.ocpc_tmplt24_crsol_main:hover .ocpc_tmplt24_crsol_img_div,
.ocpc_tmplt24_msnry_main:hover .ocpc_tmplt24_msnry_img_div {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 900;
}
.ocpc_tmplt25_glry_main:hover .ocpc_tmplt25_glry_img_div,
.ocpc_tmplt25_crsol_main:hover .ocpc_tmplt25_crsol_img_div,
.ocpc_tmplt25_msnry_main:hover .ocpc_tmplt25_msnry_img_div {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
}
.ocpc_tmplt26_glry_main:hover .ocpc_tmplt26_glry_img_div,
.ocpc_tmplt26_crsol_main:hover .ocpc_tmplt26_crsol_img_div,
.ocpc_tmplt26_msnry_main:hover .ocpc_tmplt26_msnry_img_div {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}
.ocpc_tmplt27_glry_main:hover .ocpc_tmplt27_glry_img_div,
.ocpc_tmplt27_crsol_main:hover .ocpc_tmplt27_crsol_img_div,
.ocpc_tmplt27_msnry_main:hover .ocpc_tmplt27_msnry_img_div {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: 0;
}
.ocpc_tmplt28_glry_main:hover .ocpc_tmplt28_glry_img_div,
.ocpc_tmplt28_crsol_main:hover .ocpc_tmplt28_crsol_img_div,
.ocpc_tmplt28_msnry_main:hover .ocpc_tmplt28_msnry_img_div {
    opacity: .6;
    -webkit-transform: rotate(20deg) scale(1.5);
    -ms-transform: rotate(20deg) scale(1.5);
    transform: rotate(20deg) scale(1.5);
}
.ocpc_tmplt29_glry_main:hover .ocpc_tmplt29_glry_img_div,
.ocpc_tmplt29_crsol_main:hover .ocpc_tmplt29_crsol_img_div,
.ocpc_tmplt29_msnry_main:hover .ocpc_tmplt29_msnry_img_div {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    opacity: 0;
}
.ocpc_tmplt30_glry_main:hover .ocpc_tmplt30_glry_img_div,
.ocpc_tmplt30_crsol_main:hover .ocpc_tmplt30_crsol_img_div,
.ocpc_tmplt30_msnry_main:hover .ocpc_tmplt30_msnry_img_div {
    opacity: .7;
    -webkit-transform: rotate(-30deg) scale(1.5);
    -ms-transform: rotate(-30deg) scale(1.5);
    transform: rotate(-30deg) scale(1.5);
}
.ocpc_tmplt31_glry_main:hover .ocpc_tmplt31_glry_img_div,
.ocpc_tmplt31_crsol_main:hover .ocpc_tmplt31_crsol_img_div,
.ocpc_tmplt31_msnry_main:hover .ocpc_tmplt31_msnry_img_div {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
}
.ocpc_tmplt32_glry_main:hover .ocpc_tmplt32_glry_img_div,
.ocpc_tmplt32_crsol_main:hover .ocpc_tmplt32_crsol_img_div,
.ocpc_tmplt32_msnry_main:hover .ocpc_tmplt32_msnry_img_div {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
}
.ocpc_tmplt23_glry_main:hover .ocpc_tmplt23_glry_cont_main,
.ocpc_tmplt23_crsol_main:hover .ocpc_tmplt23_crsol_cont_main,
.ocpc_tmplt23_msnry_main:hover .ocpc_tmplt23_msnry_cont_main,
.ocpc_tmplt24_glry_main:hover .ocpc_tmplt24_glry_cont_main,
.ocpc_tmplt24_crsol_main:hover .ocpc_tmplt24_crsol_cont_main,
.ocpc_tmplt24_msnry_main:hover .ocpc_tmplt24_msnry_cont_main {
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    z-index: 1000;
}
.ocpc_tmplt33_glry_main,
.ocpc_tmplt33_crsol_main,
.ocpc_tmplt33_msnry_main {
    padding: 10px;
}
/*new templates after template no.5 css ends*/